@model IEnumerable<KalimokV2.Models.User>

@{
    ViewData["Title"] = "Search";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="card row col-md-10">
    <div class="card-header">
        <form asp-action="Search" method="get">
            <div class="form-group">
                <label for="searchString">Search</label>
                <input type="text" class="form-control" id="searchString" name="searchString" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
    <div class="card-body">
    @foreach (var user in Model)
    {
        <div>
            <h1>
                @user.UserName
            </h1>
            <p>
                @user.Email
            </p>
            <p>
                <a asp-action="Details" asp-route-id="@user.Id">Details</a>
            </p>
            <hr/>
        </div>
    }
    </div>
</div>
</body>
</html>